/* .spot-details {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    list-style-type: none;
} */

.spots-details-name{
    font-weight: 600;
    line-height: 20px;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.spots-details-info-container{
    box-sizing: border-box;
}
.spots-details-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.spots-details-address-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 10px;
}

.spots-details-address {
    font-size: 16px;
    font-weight: 500;
}

.delete-review-button button {
    margin-top: 10px;

    text-align: center;
    font-weight: 600;
    color: black;
    background: rgb(210, 8, 8);
    text-decoration: none;
    text-transform: uppercase;
   list-style-type: none;
   cursor: pointer;
   border-radius: 4px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.2s;
   -webkit-transition-property: transform, box-shadow;
   transition-property: transform, boxshadow;
}



.spots-details-header{
    font-size: 1em;
}

.post-review button {
        color: white;
        background: green;
        text-decoration: none;
        text-transform: uppercase;
        list-style-type: none;
        cursor: pointer;
    border-radius: 4px;
    border: none;
    font-weight: 550;
    font-size: 16px;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.2s;
        -webkit-transition-property: transform, box-shadow;
        transition-property: transform, boxshadow;
}
button[type="button"] {
    width: 150px;
        /* width: 100%; */
        height: 50px;
        background-color: rgb(169, 168, 168);
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s;
        margin: 10px;
}

button[type="button"]:hover {
background: rgb(107, 107, 107);
}






.spot-details p {
    margin: 2rem 0;
    color: #484848;
}

.Spots-Sub-Header{
    display:inline-block;
}

.spot-details button[type="submit-1"] {
    /* padding: 1rem 2rem; */
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #ff5a5f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.spot-details button[type="submit-1"]:hover {
    background-color: #e74c3c;
}
.star{
        /* color: rgb(255, 221, 0); */
        color:#ffe83d;
}
.floating-reserve {
    position: fixed;
    top: 90%;
    right: 3%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    border-radius: 10px;
    width: 400px;
    line-height: 1.5;
    flex-wrap: wrap;
}

.floating-reserve .price {
    text-align: left;
    font-size: 18px;
    width:100%;
}

.price div {
    font-weight:600;
    display: flex;
    justify-content: space-between;
}

.floating-reserve .price div {
    display: flex;
    justify-content: space-between;


    text-align: right;
}


.reserve-button {
    padding: 8px;
    font-size: 20px;
    font-weight: 300px;
    background-color: #ff5a5f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 400px;
    margin-top:10px;
}

.reserve-button:hover {
    background-color: #e6454c;
}


.review-name {
    font-size: 1em;
    padding-top: 15px;
    font-weight: 700;
}

.review-date {
    text-align: left;
    font-size: 1em;
    margin-top: 5px;
}
body{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.review-user-info {
width: 250px;
    height: 150px;
    border-style: solid 0px;
    background-color: rgb(255, 255, 255);

}
.review-container {
    box-sizing: border-box;
}
.review-comment {
    font-size: 1em;
    margin-top: 5px;
    max-width: 1280px;
}

h3 {
    font-size: 25px;
}

.restaurant-reviews-title {
    /* padding-bottom: 20px; */
    font-size: 30px;
    font-weight: 700;
}

.reviews-card-container {
    Display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.restaurant-create-review {
    padding-bottom: 20px;
}

.reviews-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
}

.user {
    display: flex;
    align-items: center;
}

.user-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-name-inner {
    color: black;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.review-description p {
    font-size: 0.9rem;
    color: #4b4b4b;
}
.reviews-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.reserve-button li{
    list-style: none;
    color: white;
    font-weight: 600;

}
.reviews-createdAt{
    font-size:12px;
}
.reserve-button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.avg-rating {
    margin-left: 8px;
    margin-top: -2px;
    margin-right: -2px;

}
.button {
    list-style-type: none;
    /* text-decoration: none; */
    background: none;
    text-transform: uppercase;
    border: 2px solid black;
    padding: 5px 15px;
    font-size: 16px;
    /* border-radius: 4px; */
    cursor: pointer;
    /* position: relative; */
    /* margin: 5px; */
    transition: color 0.4s linear;
}


.review-delete-button {
    background-color: gray;
    border: none;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
}


.spot-images{
--gap: 8px;
    --num-cols: 8;
    --row-height: 175px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

}


.small-photo-1:nth-child(1) {
    grid-column: 1/5;
    grid-row: 1/3;

}

.small-photo-1:nth-child(2) {
    grid-column: 5/7
}

.small-photo-1:nth-child(3) {
    grid-column: 5/7;
    grid-row: 2/3

}

.small-photo-1:nth-child(4) {
    grid-column: 7/9
}

.small-photo-1:nth-child(5) {
    grid-row: 2/3;
    grid-column: 7/9
}

.spot-images > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* .small-photo-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.small-photo-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.small-photo-4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.small-photo-1,
.small-photo-2,
.small-photo-3,
.small-photo-4 {
    height: 130px;
    width: 230px;
} */

.noRev {
    display: none;
}


