/* .spot-details {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    list-style-type: none;
} */

.spot-details h1 {
    font-size: 20px;
}

.spot-details .spot-area {
    font-size: 17px;
    color: #484848;
}

.delete-review-button button {
    margin-top: 10px;
    margin-left: 50px;
    text-align: center;
    color: white;
    background: red;
    text-decoration: none;
    text-transform: uppercase;
   list-style-type: none;
   cursor: pointer;
   border-radius: 4px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.2s;
   -webkit-transition-property: transform, box-shadow;
   transition-property: transform, boxshadow;
}

.delete-review-button button:hover, .delete-review-button:focus, .delete-review-button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.post-review button {
    margin-bottom: 15px;
    margin-left: 8px;
        text-align: center;
        color: white;
        background: green;
        text-decoration: none;
        text-transform: uppercase;
        list-style-type: none;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.2s;
        -webkit-transition-property: transform, box-shadow;
        transition-property: transform, boxshadow;
}
button[type="button"] {
    width: 150px;
        /* width: 100%; */
        height: 50px;
        background-color: rgb(169, 168, 168);
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s;
        margin: 10px;
}

button[type="button"]:hover {
background: rgb(107, 107, 107);
}
.post-review button:hover, .post-review button:focus, .post-review button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
}

.review-date {
    font-size: 100px;
}

/* .spot-details .image-container {
    margin: 2rem 0;
} */

/* .spot-details .images img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
} */

.spot-details p {
    margin: 2rem 0;
    color: #484848;
}

.spot-details button[type="submit-1"] {
    /* padding: 1rem 2rem; */
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #ff5a5f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.spot-details button[type="submit-1"]:hover {
    background-color: #e74c3c;
}

.floating-reserve {
    position: fixed;
    top: 90%;
    right: 3%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    border-radius: 10px;
    width: 400px;
    line-height: 1.5;
    flex-wrap: wrap;
}

.floating-reserve .price {
    text-align: left;
    font-size: 18px;
}

.price div {
    display: flex;
    justify-content: space-between;
}

.floating-reserve .price div {
    display: flex;
    justify-content: space-between;


    text-align: right;
}


.reserve-button {
    padding: 8px;
    font-size: 20px;
    font-weight: 300px;
    background-color: #ff5a5f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 400px;
}

.reserve-button:hover {
    background-color: #e6454c;
}


.review-name {
    font-size: 28px;
    padding-top: 15px;
}

.review-date {
    text-align: left;
    font-size: 22px;
    margin-top: 5px;
}

.review-user-info {
width: 250px;
height: 150px;
border-style: solid;
border-color: black 1px;

}
.review-user-info + .review-user-info {
    margin-top: 10px;
}
.review-comment {
    font-size: 20px;
    margin-top: 5px;
    font-style:normal;
}

h3 {
    font-size: 25px;
}
/* .post-review {
    width: fit-content;
    margin: 150px auto;
} */
/* .post-review {
    /* position: relative; */
    /* transform: translate(-50%, -50%) */
/* } */
/* .post-review{
    position: absolute;
    top: 70%;
    right: 84%;
    transform: translate(-50%, -50%);

} */
.avg-rating {
    margin-left: 8px;
    margin-top: -2px;
    margin-right: -2px;

}
.button {
    list-style-type: none;
    /* text-decoration: none; */
    background: none;
    text-transform: uppercase;
    /* background-color: #f78288; */
    border: 2px solid black;
    padding: 5px 15px;
    font-size: 16px;
    /* border-radius: 4px; */
    cursor: pointer;
    /* position: relative; */
    /* margin: 5px; */
    transition: color 0.4s linear;
}
/*
.button:hover { */
    /* background:transparent;
    border: 2px solid #eb3c59;
    color: #eb3c59;
    padding-top: 5px; */
    /* color: white; */
/* } */

/* .button::before {
    /* content:""; */
    /* width: 100%;
    height: 100%;
    border: 2px solid #eb3c59;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition: top 0.5s, left 0.5s; */
    /* content:"";
    position: relative;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
    background:#000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7) */

/* } */

/* .button::before{
    transform: scaleX(0);
}

.button:hover::before{
    transform:scaleX(1)
} */

/* .post-review button:hover::after{

    top: 5px;
    left: 5px;
    box-sizing: content-box;

} */

/* .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.review-delete-button {
    background-color: gray;
    border: none;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* .images {
    display: grid;
    grid-template-columns: 455px 232px 200px;
    grid-template-rows: 154px 100px;
    grid-gap: 10px;
} */

/* .big-photo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 290px;
    width: 450px;
} */
.spot-images {
    --gap: 16px;
    --num-cols: 6;
    --row-height: 175px;
    box-sizing: border-box;
padding: var(--gap);
display:grid;
grid-template-columns: repeat(var(--num-cols), 1fr);
grid-auto-rows: var(--row-height);
gap: var(--gap);
/* grid-auto-rows: minmax(100px, auto); */
}
/* .small-photo-1:first-child {
    grid-row: 1/ 3;
    grid-column: 1/5;
    /* height: 100px;
    width: 200px; */
    /* grid-column: 1;
    grid-row: 2 */
    /* grid-column: 1;
        grid-row: 2 / 5; */
    /* grid-column: 2 / 3;
    grid-row: 1 / 2; */
/* } */
/* .spot-images.small-photo-1:first-child {
    grid-row: span 2;
    grid-column: span 2;
} */
/* .small-photo-1:first-child {
    height: 200px;
    width: 200px;
    grid-row: 1/3;
    grid-column: 1/3;
}
.small-photo-1 {
    height: 100px;
    width: 100px;

}

.small-photo-1:nth-child(2) {
    grid-column: 3/4;
}

.small-photo-1:nth-child(3) {
    grid-column: 3/4;
    grid-row: 2/3
}

.small-photo-1:nth-child(4) {
    grid-column: 4/5;
}

.small-photo-1:nth-child(5) {
    grid-column: 4/5;
    grid-row: 2/3;
} */

.small-photo-1:nth-child(5) {
    grid-column: 1/3;
    grid-row: 1/3;
}

.small-photo-1:nth-child(2) {
    grid-column: 3/4
}

.small-photo-1:nth-child(3) {
    grid-column: 3/4;
    grid-row: 2/3

}

.small-photo-1:nth-child(4) {
    grid-row: 1/2;
    grid-column: 4/5
}

.small-photo-1:nth-child(1) {
    grid-row: 2/3;
    grid-column: 4/5
}

.spot-images > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 1024px) {
    .spot-images {
    --num-cols: 2;
    --row-height: 100px;
    }
}
/* .small-photo-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.small-photo-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.small-photo-4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.small-photo-1,
.small-photo-2,
.small-photo-3,
.small-photo-4 {
    height: 130px;
    width: 230px;
} */

.noRev {
    display: none;
}
