.form-div {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.errors {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.errors li {
    color: rgb(253, 143, 198);
    margin-bottom: 10px;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .submit-button {
    background-color: #fa93e0;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #E74C3C;
}

.form-div-delete {
    align-items: center;
        background-color: #fff;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: center;
        width: 400px;
        height:300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    padding-top:10px;
    font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
}

.errors {
    color: #dc3545;
    font-size: 1rem;
    margin-bottom: 16px;
    text-align: center;
}

.submit-button {
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    padding: 5px 10px;
    transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
    background-color: #c82333;
}

.cancel-button {
    background-color: #6c757d;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 16px;
    padding: 8px 16px;
    transition: background-color 0.2s ease-in-out;
}

.cancel-button:hover {
    background-color: #5a6268;
}
