button + button {
    margin-bottom: 10px;
    margin-top: 10px;
    /* margin-right: 10px; */

}

.log-in-container, form li {
    text-align: center;
}
.log-in-input-title{
    padding-bottom:10px;
    font-weight: 600;
}
.error-messages li {
    list-style-type: none;
    color: red;
    margin-right: 40px;
    font-weight:600;
    font-size:18px;
}

.log-in-input{
width:264px
}

/* .log-in-title {
    text-align: center;
}

ul {
    list-style-type: none;
    color: red;

} */
/* button {
    margin-left: 10px;
} */
